@model CreateUserCarModel

<h4>CreateUserCarModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Photos" class="control-label"></label>
                <input asp-for="Photos" class="form-control" accept=".jpg,.png" multiple />
                <span asp-validation-for="Photos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedMake"></label>
                <select asp-for="SelectedMake" asp-items="Model.MakeList" class="form-control">
                    <option value="">--Please select--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedModel"></label>
                <select asp-for="SelectedModel" asp-items="Model.ModelList" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGeneration"></label>
                <select asp-for="SelectedGeneration" asp-items="Model.GenerationList" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCar"></label>
                <select asp-for="SelectedCar" asp-items="Model.CarList" class="form-control"></select>
            </div>
            <div class="form-group">
                <span asp-validation-for="SelectedCar" class="text-danger"></span>
            </div>

            <script src="~/lib/jquery//dist//jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

            <script type="text/javascript">
			    var modelUrl = '@Url.Action("FetchModels")';
                var generationUrl = '@Url.Action("FetchGenerations")';
                var carUrl = '@Url.Action("FetchCars")';

                var models = $('#SelectedModel');
                var generations = $('#SelectedGeneration');
                var cars = $('#SelectedCar')

			    $('#SelectedMake').change(function() {
				    models.empty();
                    generations.empty();
                    cars.empty();
				    $.getJSON(modelUrl, { id: $(this).val() },function(data) {
					    if (!data) {
						    return;
					    }
					    models.append($('<option></option>').val('').text('Please select'));
					    $.each(data, function(index, item) {
						    models.append($('<option></option>').val(item.id).text(item.name));
					    });
				    });
			    })
			    $('#SelectedModel').change(function() {
                    generations.empty();
                    cars.empty();
				    $.getJSON(generationUrl, { id: $(this).val() },function(data) {
					    if (!data) {
						    return;
                        }
                        generations.append($('<option></option>').val('').text('Please select'));
					    $.each(data, function(index, item) {
						    generations.append($('<option></option>').val(item.id).text(item.name));
					    });
				    });
                })
                $('#SelectedGeneration').change(function () {
                    cars.empty();
                    $.getJSON(carUrl, { id: $(this).val() }, function (data) {
					    if (!data) {
						    return;
                        }
                        cars.append($('<option></option>').val('').text('Please select'));
                        $.each(data, function (index, item) {
                            cars.append($('<option></option>').val(item.id).text(item.displayText));
					    });
				    });
                })

            </script>


            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionDateYear" class="control-label"></label>
                <input asp-for="ProductionDateYear" class="form-control" />
                <span asp-validation-for="ProductionDateYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionDateMonth" class="control-label"></label>
                <input asp-for="ProductionDateMonth" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>

            <label class="control-label"><b>Mod Fuel Consumption</b></label><br />
            <div class="form-group row">
                <label asp-for="ModifiedFuelConsumption.Urban" class="control-label col-sm-4"></label>
                <label asp-for="ModifiedFuelConsumption.ExtraUrban" class="control-label col-sm-4"></label>
                <label asp-for="ModifiedFuelConsumption.Combined" class="control-label col-sm-4"></label>
            </div>
            <div class="form-group row">
                <input asp-for="ModifiedFuelConsumption.Urban" class="form-control col-sm-4" />
                <span asp-validation-for="ModifiedFuelConsumption.Urban" class="text-danger"></span>
                <input asp-for="ModifiedFuelConsumption.ExtraUrban" class="form-control col-sm-4" />
                <span asp-validation-for="ModifiedFuelConsumption.ExtraUrban" class="text-danger"></span>
                <input asp-for="ModifiedFuelConsumption.Combined" class="form-control col-sm-4" />
                <span asp-validation-for="ModifiedFuelConsumption.Combined" class="text-danger"></span>
            </div>

            <label class="control-label"><b>Mod Accel</b></label><br />
            <div class="form-group row">
                <label asp-for="ModifiedAcceleration._0_100" class="control-label col-sm-4"></label>
                <label asp-for="ModifiedAcceleration._0_200" class="control-label col-sm-4"></label>
                <label asp-for="ModifiedAcceleration._0_300" class="control-label col-sm-4"></label>
            </div>
            <div class="form-group row">
                <input asp-for="ModifiedAcceleration._0_100" class="form-control col-sm-4" />
                <span asp-validation-for="ModifiedAcceleration._0_100" class="text-danger"></span>
                <input asp-for="ModifiedAcceleration._0_200" class="form-control col-sm-4" />
                <span asp-validation-for="ModifiedAcceleration._0_200" class="text-danger"></span>
                <input asp-for="ModifiedAcceleration._0_300" class="form-control col-sm-4" />
                <span asp-validation-for="ModifiedAcceleration._0_300" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForSale" /> @Html.DisplayNameFor(model => model.ForSale)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPerformanceModified" /> @Html.DisplayNameFor(model => model.IsPerformanceModified)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVisuallyModified" /> @Html.DisplayNameFor(model => model.IsVisuallyModified)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternativeFuel" class="control-label"></label>
                <select asp-for="AlternativeFuel" asp-items="Html.GetEnumSelectList<AlternativeFuel>()" class="form-control">
                    <option selected="selected" value="">--</option>
                </select>
                <span asp-validation-for="AlternativeFuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" asp-items="Html.GetEnumSelectList<Currency>()" class="form-control"></select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomMaxHP" class="control-label"></label>
                <input asp-for="CustomMaxHP" class="form-control" />
                <span asp-validation-for="CustomMaxHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformanceModificationsDescription" class="control-label"></label>
                <input asp-for="PerformanceModificationsDescription" class="form-control" />
                <span asp-validation-for="PerformanceModificationsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisualModificationsDescription" class="control-label"></label>
                <input asp-for="VisualModificationsDescription" class="form-control" />
                <span asp-validation-for="VisualModificationsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

