@model IEnumerable<DisplayModelModel>
@{
    ViewData["Title"] = $"All Models for {ViewBag.MakeName}";
}

<a asp-action="create" asp-route-id="@ViewBag.MakeId" class="btn btn-dark">Add Model</a>
<hr />
<div class="col-sm-6"><h5>@ViewData["Title"]</h5></div>
<table class="table col-sm-12">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Description
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _model in Model)
        {
            <tr style="height:52px;">
                <td style="width:150px">
                    <h5>
                        @_model.Name
                    </h5>
                </td>
                <td>
                    @(_model.Description != null && _model.Description.Length > 70 ? _model.Description.Substring(0, 70) + "..." : _model.Description)
                </td>
                <td align="right" width="50">
                    <a asp-controller="Generations" asp-action="All" asp-route-id="@_model.Id" class="btn btn-dark">Generations</a>
                </td>
                <td align="right" width="200">
                    <a asp-action="Edit" asp-route-id="@_model.Id" class="btn btn-dark">Edit</a>
                    <a asp-action="Delete" asp-route-id="@_model.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

