@model IEnumerable<DisplayGenerationModel>

<h1>Generations for @ViewBag.Make - @ViewBag.Model</h1>

@foreach(var generation in Model)
{
    <h3>@generation.Name</h3>
    <h4>@generation.Description</h4>
    @generation.BodyType
}