@model IEnumerable<DisplayGenerationWithImageModel>
@{
    ViewData["Title"] = $"Generations for {ViewBag.Make} {ViewBag.Model}";
    var routeData = new Dictionary<string, string>() { { "ModelId", ViewBag.ModelId } };
}

<div class="row">
    <h4 class="col-md-6">@ViewData["Title"]</h4>
    <div class="col-md-3"></div>
    <a asp-controller="Cars" asp-action="Browse" asp-all-route-data="routeData" class="col-md-3 align-content-end btn btn-dark">Look this model up for sale!</a>
</div>
<hr />
<table class="table-hover table">
    <tbody>
        @foreach (var generation in Model)
        {

            <tr>
                <td width="200" align="left">
                    <a asp-action="Cars" asp-route-id="@generation.Id">
                        <img src="@generation.ImageUrl" height="150" />
                    </a>
                </td>
                <td>
                    <a class="text-dark" asp-action="Cars" asp-route-id="@generation.Id">
                        <h4>
                            @ViewBag.Make @ViewBag.Model @generation.Name
                        </h4>
                    </a>
                    <div class="text-danger">
                        <text>@generation.ProductionYearBegin - </text>
                        @if (generation.ProductionYearEnd.HasValue)
                        {
                            <text>@generation.ProductionYearEnd</text>
                        }
                        else
                        {
                            <text>present</text>
                        }
                    </div>
                    <br />
                    <h6 class="text-dark">@generation.BodyType</h6>
                    <text class="text-black-50">@generation.CarsCount Modifications</text>
                </td>
            </tr>
        }
    </tbody>
</table>