@model IEnumerable<IGrouping<char, DisplayMakeModel>>
@{
    ViewData["Title"] = "Makes";
}
<h4>@ViewData["Title"]</h4>
<hr />
@foreach (var group in Model)
{
    <h4>@group.Key</h4>
    <hr />
    <div class="row">
        @foreach (var make in group)
        {
            <a class="col-md-4 text-dark" asp-action="Models" asp-route-id="@make.Id">
                <div class="row">
                    <div class="col-md-4">
                        <img src="@make.ImagePath" width="80" height="80" />
                    </div>

                    <div class="col-md-8 my-auto">
                        <h5>@make.Name</h5>
                        <h6 class="text-black-50">@make.Description</h6>
                    </div>
                </div>
            </a>
        }
    </div>
}
