@model IEnumerable<DisplayCarModel>

<p>
    <a asp-controller="Cars" asp-action="Create" asp-route-id="@ViewBag.GenerationId">Create New</a>
</p>
<h4>@ViewBag.Make @ViewBag.Model @ViewBag.Generation</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                ~
            </th>
            <th>
                Production years
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Engine.Name (@item.Engine.MaxHP HP) @item.Name
                </td>
                <td>
                    @item.BeginningOfProduction.Year - @item.EndOfProduction.Year
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
