@model IEnumerable<DisplayCarModel>

@{
    ViewData["Title"] = $"All Modifications for {ViewBag.Make} {ViewBag.Model} {ViewBag.Generation}";
}

<a asp-action="create" asp-route-id="@ViewBag.GenerationId" class="btn btn-dark">Add Modification</a>
<hr />
<div class="col-sm-6"><h5>@ViewData["Title"]</h5></div>
<table class="table col-sm-12">
    <thead>
        <tr>
            <th>
                Modification
            </th>
            <th>
                Production Years
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr style="height:52px;">
                <td style="width:450px">
                    <text>
                        @car.Engine.Name (@car.Engine.MaxHP HP) @car.Name
                    </text>
                </td>
                <td>
                    @car.BeginningOfProductionYear - @car.BeginningOfProductionYear
                </td>
                <td align="right" width="200">
                    <a asp-action="Edit" asp-route-id="@car.Id" class="btn btn-dark">Edit</a>
                    <a asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
