@model NeedForCars.Web.ViewModels.Messages.ViewMessageModel
@{
    ViewData["Title"] = "View Message";
}
<h4>@ViewData["Title"]</h4>
<div>
    <hr />
    <h6>
        From:
        <a asp-controller="Profile" asp-action="Index" asp-all-route-data="@(new Dictionary<string, string>() { { "userName", Model.Sender.UserName } })">
            @Model.Sender.UserName
        </a>
        <br />
        @@ @Model.SentOn.ToString("yy/MM/dd HH:mm")
    </h6>
    <div class="col-md-12 text-break">
        @Model.Content
    </div>
    
</div>