@model IEnumerable<IGrouping<string, DisplayEngineModel>>
@{
    ViewData["Title"] = "All Engines";
}
<a asp-action="Create" class="btn btn-dark">Add Engine</a>
<hr />
<div class="col-sm-6"><h5>@ViewData["Title"]</h5></div>
@foreach (var creator in Model)
{
    <table class="table col-sm-12">
        <thead>
            <tr>
                <th>
                    <h3>@creator.Key</h3>
                </th>
                <th>Max Power</th>
                <th>Fuel</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var engine in creator)
            {
                <tr>
                    <td>
                        @engine.Name
                    </td>
                    <td>
                        @engine.MaxHP HP
                    </td>
                    <td>
                        @engine.FuelType
                    </td>
                    <td align="right" width="200">
                        <a asp-action="Edit" asp-route-id="@engine.Id" class="btn btn-dark">Edit</a>
                        <a asp-action="Delete" asp-route-id="@engine.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}
